/* NEXT STEPS
TO TEST:
save large, low quality JPG versions of images, use sizes: 200vw to request large and have browsers shrink them;

Reduce size of split between panes to be a function of vw

SMALL VIEWPORT ADJUSTMENTS:
change font to regular weight raleway

Change height of nav bar to be a function of vw multiplied by proportion of vw/bh\


Deep Forest Brown 393437 R: 57 G: 52 B: 55
Brandywine R: 165 G: 108 B: 74 Hex Value: #a56c4a
Emotional R: 198 G: 95 B: 71  Hex Value: #c65f47
Gale Force R: 53 G: 69 B: 78 Hex Value: #35454e
Stardew R: 166 G: 178 B: 181  Hex Value: #a6b2b5
*/

/* ------------------ ############ RESETS ############ ------------------ */
html, body, div, span, section, ul, li, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  color: #222;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

@font-face {
  font-family: 'Raleway Thin';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(raleway-thin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(Raleway-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  src: local('Alfa Slab One Regular'), local('AlfaSlabOne-Regular'), url(alpha-slab.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* ------------------ ############ GENERAL ############ ------------------ */
#perfect-app-wrapper {
  background-color: #fff;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100vw;
}

:root{
  --blue-bright: #8edfe5;
  --blue-gray: #95a0b2;
  --gray-dark: #555;
  --color-title: #ffa541;
  --blue-nav: #8edfe5; /*#c0f1f7 is lighter*/

  --shadow-transition-delay: 0.7s;
  --solid-transition-delay: 0.7s;

  --room-color-left: #c65f47;
  --room-color-right: #a56c4a;
  --room-color-left-bottom: #35454e;
  --room-color-right-bottom: #393437;

  --scale-zoom-factor: 1.8;
  --scale-zoom-factor-s: scale(calc( 2 * var(--scale-zoom-factor) ));
}

/* ------------------ ############ ROOM SCENE ############ ------------------ */
.room__svg,
.svg-defs-wrapper,
.room__wrapper,
.room-image,
.color__details,
.intro__wrapper,
.navigation__wrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.room__wrapper {
  background-color: var( --room-color-left );
  height: calc( 50% - 1px );
  opacity: 1;
  transition: opacity 1s;
  will-change: opacity;
  z-index: 2;
}

.room-b.room__wrapper {
  background-color: var( --room-color-right );
}

.room-image-natural,
.room-image-tinted {
  object-fit: cover;
}

.room-image-tinted {
  mix-blend-mode: multiply;
  z-index: 2;
}

.room__wrapper--lower {
  /*opacity: 0;*/
  /*z-index: 1;*/
}

.room-image-natural {
  -webkit-mask-image: url( './images/room-sofa-mask.png' );
  -webkit-mask-size: cover;
  -webkit-mask-position: 50% 50%;
  mask-size: cover;
  z-index: 3;
}

.room-b {
  top: calc( 50% + 1px );
}

/*.room__image--furniture {
    opacity: 1;
    transition: opacity 1s;
}*/


/* ------------------ ############ LOWER ROOM ############ ------------------ */
.room__wrapper--lower {
  background-color: var( --room-color-left-bottom );
}

.room__wrapper--lower.room-b {
  background-color: var( --room-color-right-bottom );
}

/* ------------------ ############ COLOR DETAILS ############ ------------------ */

.color-info {
  background-color: red;
  background-image: url( './images/room-sofa.jpg' );
  background-position: 50% 50%;
  background-size: cover;
  mix-blend-mode: multiply;

  align-items: center;
  display: flex;
  filter: brightness( 0.75 );
  font-size: 30vw;
  letter-spacing: -8vw;
  line-height: 18vw;
  justify-content: center;
  opacity: 0;
  text-align: center;
  transition: font-size 2s, letter-spacing 2s, opacity 2s ease-out;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  will-change: font-size, letter-spacing, opacity;
}

.color-name {
  font-family: 'Alfa Slab One', sans-serif;
}

.solid-overlay--top {
  background-color: var( --room-color-left );
  opacity: 0;
  transition: opacity 2s;
  will-change: opacity;
}

.room-b .solid-overlay--top {
  background-color: var( --room-color-right );
}

/* ------------------ ############ App Intro ############ ------------------ */
.intro__wrapper,
.navigation__wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 6vw;
  min-height: 30px;
}

.intro__wrapper {
  background-color: #eee;
  display: none;
  padding: calc( 3px + 1% );
  z-index: 4;
}

.intro__message{}

.intro__hue{}

.intro__luminosity{}

.intro__saturation{}


/* ------------------ ############ Navigation Controls ############ ------------------ */
.navigation__wrapper {
  background-color: rgba( 0, 0, 0, .5 );
  color: #fff;
  font-family: 'Raleway Thin', sans-serif;
  justify-content: space-between;
  z-index: 3;
}

.app-title {
  color: var( --color-title );
  font-family: 'Raleway Thin', sans-serif;
  font-size: calc( 6px + 3.5vw);
  /*font-size: 4vw;*/
  margin-left: 5vw;
}

.navigation__controls--title {
  color: var( --blue-nav );
  font-family: 'Raleway Thin', sans-serif;
  font-size: calc( 6px + 2.2vw);
  line-height: 6vw;
  margin-right: 1vw;
  vertical-align: middle;
}

.navigation__controls {
  align-items: center;
  background: rgba( 20, 10, 40, 0.7 );
  border-radius: 3vw;
  cursor: pointer;
  display: none;
  flex-direction: row;
  font-family: 'Raleway Thin', sans-serif;
  height: 74%;
  justify-content: space-around;
  margin-right: 5vw;
  padding: 0 2vw;
}

.navigation__favorites {
  display: flex;
}

.state-favorites .navigation__favorites {
  display: none;
}

.state-favorites .navigation__compare {
  display: flex;
}

.navigation__controls-color {
  border-radius: 50%;
  display: inline-block;
  height: 2vw;
  width: 2vw;
}

/* ------------------ ############ PRIMING ANIMATED ELEMENTS ############ ------------------ */
.room__svg--zoom {
  /*height: 200%;*/
  transition: transform 1s;
  /*width: 200%;*/
  will-change: transform;
}

.state-app-primed .room__svg--zoom {
}

.state-zoom-room .room__svg--zoom {
  transform: var(--scale-zoom-factor-s);
  /*transform: scale( 1.2 ) translateX( -25% );*/
}

.room__image--zoom {
  /*height: 150%;
  width: 150%;*/
}

/*state-lower-room- state-zoom-room- state-detail- state-transition*/

/* ------------------ ############ APP STATE - LOWER ROOM ############ ------------------ */
.state-lower-room .room__wrapper:not( .room__wrapper--lower ) {
  opacity: 0;
}

/*.state-lower-room .room__wrapper--lower {
  opacity: 1;
}*/

/* ------------------ ############ APP STATE - MOVIE ############ ------------------ */

/* ------------------ ############ APP STATE - ROOM DETAIL ############ ------------------ */
.state-detail .solid-overlay--top {
  opacity: 1;
}

.state-detail .room__image--furniture {
  opacity: 0;
}

.state-detail .color-info {
  font-size: 17vw;
  letter-spacing: 0;
  opacity: 1;
}

.state-detail .solid-overlay {
  opacity: 1;
}

.state-transition .solid-overlay--top {
  transition: opacity 0.5s;
  transition-delay: 0.5s;
}

.state-transition .color-name {
  transition-delay: 0s;
}

.state-transition .room__image--furniture {
  transition: opacity 1s;
  transition-delay: 1s;
}

/* ------------------ ############ VIEWPORT ORIENTATION ADJUSTMENTS ############ ------------------ */
@media screen and ( orientation: landscape ) { /* landscape viewport, vertical rooms */
    .room__wrapper {
        height: 100%;
        width: calc( 50% - 1px );
    }

    .room-b {
        left: calc( 50% + 1px );
        top: 0;
    }

    .color-name {
      font-size: 1.2em;
    }
}

@media screen and ( max-width: 800px ) {
  .navigation__controls-color {
    height: 3vw;
    width: 3vw;
  }
}



/* ------------------ ############ Logo Mark ############ ------------------ */
.logo-wrapper {
  display: inline-block;
  height: 4vw;
  position: relative;
  width: 4vw;
}

.logo-circle,
.logo-circle::before,
.logo-circle::after {
    border-radius: 50%;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.logo-circle::before,
.logo-circle::after {
    content: '';
    display: block;
}

.logo-circle::after,
.logo-circle::before {
    background-color: var( --gray-dark );
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.logo-circle::after {
    opacity: 0;
    transition: opacity 0.5s, transform 1s;
}

:root{
  --shadow-transition-delay: 0.7s;
  --solid-transition-delay: 0.7s;
}

.logo-circle::before {
    background-color: transparent;
    box-shadow: 0.2vw 0.2vw 0.2vw  rgba( 0, 0, 0, 0.75 );  /*rgb( 40, 40, 40 )*/
    opacity: 0;
    transition: opacity 2s, transform 2s;
    transition-delay: var( --shadow-transition-delay ), var( --shadow-transition-delay );
    transform: scale( 0.75 );
}

.state-app-primed .logo-circle::before {
    opacity: 1;
    transform: scale( 0.99 );
}

.state-app-primed .logo-circle::after {
    opacity: 1;
}

.state-app-primed {}

.state-app-primed {}

.logo-circle-2 {
    left: 4%;
    height: 76%;
    top: 4%;
    width: 76%;
}

.logo-circle-2::after {
    background-color: var( --blue-gray );
}

.logo-circle-2::before {
    transition-delay: calc( 2 * var( --shadow-transition-delay ) ), calc( 2 * var( --shadow-transition-delay ) );
}

.logo-circle-3 {
    color: var( --blue-bright );
    background-color: currentColor;
    left: 7%;
    height: 52%;
    top: 7%;
    width: 52%;
}

.logo-circle-3::after {
    background-color: var( --blue-bright );
}

.logo-circle-2::before {
    transition-delay: calc( 3 * var( --shadow-transition-delay ) ), calc( 3 * var( --shadow-transition-delay ) );
}


/* ------------------ ############ wwwwwww ############ ------------------ */




/* ------------------ ############ wwwwwww ############ ------------------ */




/* ------------------ ############ wwwwwww ############ ------------------ */
/* ------------------ ############ wwwwwww ############ ------------------ */
/* ------------------ ############ wwwwwww ############ ------------------ */
/* ------------------ ############ wwwwwww ############ ------------------ */
/* ------------------ ############ jjjjjjjj ############ ------------------ */
/* --------- pppppppp ----------- */
/* --------- pppppppp ----------- */



/*
------------------ ############ ANIMATION EXAMPLE ############ ------------------
@keyframes pan-scene {
  0 {
      transform: translate3d(0px, 0px, 0px);
  }
  50% {
      transform: translate3d(-10vw, -100vh, 0px);
  }
  100% {
      transform: translate3d(0px, 0px, 0px);
  }
}


------------------ ############ OLD STUFF ############ ------------------

TO MAKE A MASK FROM MULTIPLE IMAGES
linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0))
.el {
    mask-image: url(mask-image.png), linear-gradient(black, transparent);
    mask-position: center, top left;
    mask-repeat: no-repeat, no-repeat;
}

https://aclaes.com/responsive-background-images-with-srcset-and-sizes/


@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) and (min-aspect-ratio: 1 / 1) {
}


.solid-overlay-2 {
    background-color: var( --room-color-right );
}

.solid-overlay-3 {
    background-color: var( --room-color-right-bottom );
}

.solid-overlay-4 {
    background-color: var( --room-color-left-bottom );
}


  text shadow for title
    0 6px 1px rgba(0,0,0,.5),
    0 0 5px rgba(0,0,0,.5),
    0 1px 3px rgba(0,0,0,.7),
    0.06vw 0.06vw 0.12vw rgba(0,0,0,.6),
    -0.06vw 0.06vw 0.12vw rgba(0,0,0,.6),
    0.06vw -0.06vw 0.12vw rgba(0,0,0,.6),
    -0.06vw -0.06vw 0.12vw rgba(0,0,0,.6);

.scene-grid__scene:nth-child(n+5) {
  display: none; }

@media screen and (orientation: portrait) {
    .room__wrapper svg {
        border: 2px solid #ccccff;
        height: 140vh;
        width: calc( 140vh * 1.43582);
    }

    @media screen and (max-aspect-ratio: 3/4) {
        .room__wrapper svg {
            border: 2px solid #9999cc;
            height: 125vh;
            width: calc( 125vh * 1.43582);
        }
    }

    @media screen and (max-aspect-ratio: 2/3) {
        .room__wrapper svg {
            border: 2px solid #666699;
            height: 110vh;
            width: calc( 110vh * 1.43582);
        }
    }

    @media screen and (max-aspect-ratio: 1/2) {
        .room__wrapper svg {
            border: 2px solid #333366;
        }
    }
}



.text-3d- {
    color: #999;
    text-shadow: 0 1px 0 #666,
       0 2px 0 #646464,
       0 3px 0 #555,
       0 4px 0 #515151,
       0 5px 0 #444,
       0 6px 1px rgba(0,0,0,.5),
       0 0 5px rgba(0,0,0,.5),
       0 1px 3px rgba(0,0,0,.7),
       0 3px 5px rgba(0,0,0,.6),
       0 5px 10px rgba(0,0,0,.65),
       0 10px 10px rgba(0,0,0,.6),
       0 20px 20px rgba(0,0,0,.55);
}

.text-3d--light- {
    color: #fff;
    text-shadow: 0 1px 0 #ccc,
       0 2px 0 #c9c9c9,
       0 3px 0 #bbb,
       0 4px 0 #b9b9b9,
       0 5px 0 #aaa,
       0 6px 1px rgba(0,0,0,.1),
       0 0 5px rgba(0,0,0,.1),
       0 1px 3px rgba(0,0,0,.3),
       0 3px 5px rgba(0,0,0,.2),
       0 5px 10px rgba(0,0,0,.25),
       0 10px 10px rgba(0,0,0,.2),
       0 20px 20px rgba(0,0,0,.15);
}
*/