/* NEXT STEPS
TO TEST:
save large, low quality JPG versions of images, use sizes: 200vw to request large and have browsers shrink them;

SMALL VIEWPORT ADJUSTMENTS:
change font to regular weight raleway

Change height of nav bar to be a function of vw multiplied by proportion of vw/bh\


TO DO:
;


Deep Forest Brown 393437 R: 57 G: 52 B: 55
Brandywine R: 165 G: 108 B: 74 Hex Value: #a56c4a
Emotional R: 198 G: 95 B: 71  Hex Value: #c65f47
Gale Force R: 53 G: 69 B: 78 Hex Value: #35454e
Stardew R: 166 G: 178 B: 181  Hex Value: #a6b2b5
*/

body {
  --blue-bright: #8edfe5;
  --blue-gray: #95a0b2;
  --blue-nav: #8edfe5; /*#c0f1f7 is lighter*/

  --gray-dark: #555;

  --color-background-dark: #393437;
  --color-background-dark-rgba: rgba( 57, 52, 55, .5 );
  --color-title: #ffa541;  /*#c65f47*/
  --color-white: #fff;


  --shadow-transition-delay: 0.7s;
  --solid-transition-delay: 0.7s;

  --room-color-left-bottom: hsl(32, 100%, 63%);  /* #ffa541; 35454e */
  --room-color-left: hsl(11, 53%, 53%); /* #c65f47; */
  --room-color-right-bottom: hsl(324, 5%, 21%); /* #393437 */
  --room-color-right: hsl(184, 63%, 73%); /* #8edfe5  a56c4a */

  --room-color-left-bottom: hsl(32, 100%, 63%);  /* #ffa541; 35454e */
  --room-color-left: hsl(11, 100%, 53%); /* #c65f47; */
  --room-color-right-bottom: hsl(324, 5%, 21%); /* #393437 */
  --room-color-right: hsl(124, 100%, 53%); /* #8edfe5  a56c4a */

  --shadow-transition-delay: 0.7s;
  --solid-transition-delay: 0.7s;

  --intro-color-dot-size: 18vw;
  --intro-color-dot-border-size: 7vw;

  --color-intro-hue-component: 152;
  --color-intro-luminosity-component: 30%;

  --color-intro-hue-v1: #ff0000;
  --color-intro-hue-v2: #FFA500;
  --color-intro-hue-v3: #FFFF00;
  --color-intro-hue-v4: #339935;
  --color-intro-hue-v5: #4D4AFD;
  --color-intro-hue-v6: #800080;
  --color-intro-hue-v7: #B9A796;

  --color-intro-luminosity-1: var( --color-intro-hue-component ), 100%, 10%;
  --color-intro-luminosity-2: var( --color-intro-hue-component ), 100%, 30%;
  --color-intro-luminosity-3: var( --color-intro-hue-component ), 100%, 50%;
  --color-intro-luminosity-4: var( --color-intro-hue-component ), 100%, 70%;
  --color-intro-luminosity-5: var( --color-intro-hue-component ), 100%, 90%;

  --color-intro-saturation-1: var( --color-intro-hue-component ), 10%, var( --color-intro-luminosity-component );
  --color-intro-saturation-2: var( --color-intro-hue-component ), 30%, var( --color-intro-luminosity-component );
  --color-intro-saturation-3: var( --color-intro-hue-component ), 50%, var( --color-intro-luminosity-component );
  --color-intro-saturation-4: var( --color-intro-hue-component ), 70%, var( --color-intro-luminosity-component );
  --color-intro-saturation-5: var( --color-intro-hue-component ), 90%, var( --color-intro-luminosity-component );

  --color-info-brightness-1: brightness( 75% );
  --color-info-brightness-2: brightness( 75% );
  --color-info-brightness-3: brightness( 75% );
  --color-info-brightness-4: brightness( 75% );

  --color-info-fontSize-1: 17vw;
  --color-info-fontSize-2: 17vw;
  --color-info-fontSize-3: 17vw;
  --color-info-fontSize-4: 17vw;
}

/* ------------------ ############ RESETS ############ ------------------ */
html, body, div, span, section, ul, li, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  color: #222;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

@font-face {
  font-family: 'Raleway Thin';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(raleway-thin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(Raleway-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  src: local('Alfa Slab One Regular'), local('AlfaSlabOne-Regular'), url(alpha-slab.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* ------------------ ############ GENERAL ############ ------------------ */
#perfect-app-wrapper {
  background-color: #fff;
  height: 100%;
  left: 0;
  overflow: hidden;
  top: 0;
  width: 100vw;
}

.button-link {
  align-items: center;
  background: rgba( 20, 10, 40, 0.7 );
  border-radius: 3vw;
  cursor: pointer;
  display: none;
  flex-direction: row;
  font-family: 'Raleway Thin', sans-serif;
  height: 74%;
  justify-content: space-around;
  margin-right: 5vw;
  padding: 0 2vw;
}

.text-shadow {
  text-shadow: 0.06vw 0.06vw 0.22vw rgba(0,0,0,.6), -0.06vw 0.06vw 0.22vw rgba(0,0,0,.6), 0.06vw -0.06vw 0.22vw rgba(0,0,0,.6), -0.06vw -0.06vw 0.22vw rgba(0,0,0,.6);
}

.box-shadow {
  box-shadow: 0px 0 10px rgba(0,0,0,.6), 0 0 10px rgba(0,0,0,.6), 0 0 10px rgba(0,0,0,.6), -0 0 10px rgba(0,0,0,.6);
}
/* 
    ......`                                    .-:-`                                                                                                  
    yMdhhdNh`                                `dNysdNs                                                                                                 
    yMo.-:MN. +ddddo` :hdhds. hdyhmhyhmh.    .NNs+/+: `odhdh/ /hddh/ :mhydms `sdhdy.                                                                  
    yMdhNMh- +My``oMs-Nm.`:Nd`mM:`hM+`sM+     .+sydNh`+Ms``+:-MN++mM-/Mh``mM`yMh+sMh                                                                  
    yM/ :mNs`/Mh..sMo-Nm-.+Mh`mN. hM: oM+    +Nh-.:NM-+My.-yo-NN+/yy./Ms  mM`sMh/oy+                                                                  
    oh:  `yh+ /yhhy/` -yhyho` yh` oh- /h:     /yhhhy: `+hhhy: :yyyy/ :h+  yh``ohyhs.                                                                  
                ``      ``                      ```      ``     ``              ``    
------------------ ############ 111 ROOM SCENE ############ ------------------ */
.room__svg,
.svg-defs-wrapper,
.room-set__wrapper,
.room__wrapper,
.room-image,
.color__details,
.intro__wrapper,
.intro-pane,
.solid-overlay,
.navigation__wrapper {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#testEL {
  background-color: hsl(var( --color-intro-hue-component ), 50%, 50% );
  background-color: hsl(var( --color-intro-saturation-1 ) );
  height: 400px;
  widows:  400px;
}

.room-set__wrapper {
  background-color: var( --color-white );
  overflow: hidden;
}

.room__wrapper {
  background-color: var( --room-color-left );
  height: calc( 50% - 1px );
  overflow: hidden;
  opacity: 1;
  transition: opacity 1s;
  will-change: opacity;
  z-index: 2;
}

.room-b.room__wrapper {
  background-color: var( --room-color-right );
}

.room-image-natural,
.room-image-tinted {
  object-fit: cover;
  transition: opacity 1s;
  will-change: opacity;
}

.room-image-tinted {
  filter: grayscale(100) brightness(0.85) contrast(1.75);
  mix-blend-mode: multiply;
  /* transition-delay: 2s; */
  z-index: 2;
}

.room-image-natural {
  -webkit-mask-image: url( './images/room-chair-mask-clean.png' );
  -webkit-mask-size: cover;
  -webkit-mask-position: 50% 50%;
  mask-size: cover;
  z-index: 3;
}

.room-b {
  top: calc( 50% + 1px );
}

:root{
  --timer-size: 40px;
}

#timer {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 50%;
  display: none;
  /* display: flex; */
  font-size: calc( 14px + 2vw );
  height: calc( var(--timer-size) + 5vw);
  justify-content: center;
  left: calc( 50% - ( ( var(--timer-size) + 5vw ) / 2 ) );
  position: absolute;
  top: calc( 50% - ( ( var(--timer-size) + 5vw ) / 2 ) );
  width: calc( var(--timer-size) + 5vw);
  z-index: 999;
}

/* ------------------ ############ LOWER ROOM ############ ------------------ */
.room__wrapper--lower {
  background-color: var( --room-color-left-bottom );
}

.room__wrapper--lower.room-b {
  background-color: var( --room-color-right-bottom );
}

/* 
       `.`            ``                   `````                        ``  `                                                                         
    `odhhdh+          hh`                 `ddhhhdo.         /s`        .ho /m+                                                                        
    yMo.`-ys. -osss: `mN` :osso- `sosy-   `Mm...oMh `+sss: oNNs`-osss/ .ho +Mo                                                                        
   .NN.   `  :Nd::hN+`mN`/Nd::hN/.MN//`   `Mm`  .MM`hMs/dN/:NN:`/y+oNM--Mh +Mo                                                                        
   `hMo``.yy.+My``+Ms`mN`oMo``sMs.Mm      `Mm.``+Md`mMsoyh/`mm``yms+mM--Mh +Mo                                                                        
    .sdhhdd+ `sdhydy. dd`.ydyyds..mh      `mmhhhdy. /dhsdy.`hmh-hmssdm:.my /m+                                                                        
      `...`    `..`   ..   `..`   ..       .....`    `...   `..` ..``.` .` `.`     

------------------ ############ SOLID COLOR OVERLAYS ############ ------------------ */
.solid-overlay {
  background-color: var( --room-color-left );
  -webkit-mask-image: linear-gradient(135deg, black 0%, transparent 100%); 
  mask-image: linear-gradient(135deg, black 0%, transparent 100%); 
  opacity: 0;
  transition: opacity 2s;
  /* transition-delay: 2s; */
  will-change: opacity;
  z-index: 1;
}

.room-b .solid-overlay {
  background-color: var( --room-color-right );
}

.room__wrapper--lower .solid-overlay {
  background-color: var( --room-color-left-bottom );
}

.room__wrapper--lower.room-b .solid-overlay {
  background-color: var( --room-color-right-bottom );
}

/* ------------------ ############ COLOR DETAILS ############ ------------------ */
.color-info {
  background-color: red;
  background-image: url( './images/room-chair.jpg' );
  background-position: 50% 50%;
  background-size: cover;
  mix-blend-mode: luminosity;
  align-items: flex-start;
  display: flex;
  filter: var( --color-info-brightness-2 );
  flex-direction: column;
  font-size: 17vw;
  line-height: 16vw;
  justify-content: center;
  margin: 0 1%;
  opacity: 0;
  text-align: left;
  transition: opacity 4s ease-in;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* will-change: font-size, letter-spacing, opacity; */
  will-change: opacity;
}

.room__wrapper--lower .color-info {
  filter: var( --color-info-brightness-1 );
}

.room-b .color-info {
filter: var( --color-info-brightness-4 );
}

.room__wrapper--lower.room-b .color-info {
filter: var( --color-info-brightness-3 );
}

.text-accent {
  left: 1px;
  position: absolute;
  top: 1px;
}

.color-number {
  font-family: 'Raleway Thin';
  font-size: 10vw;
  letter-spacing: -1vw;
}

.color-name {
  font-family: 'Alfa Slab One', sans-serif;
  letter-spacing: -0.2vw;
}

/* 
      `++.                       `+/          `-                                                                                                      
     `yMMm`   ```..`  ```..`     .MN  ```..` .Nd. ```.` ``..`                                                                                         
     +My+Mh  -MNhyNm-`mMdymN+    .MN /MmyhMd`hMNy`hMmdo:dNydNs`                                                                                       
    :MMsoNMo -Mm  /My`mN. .Nm`   .MN /My  mN.`Md  hM:  dM:  yM/                                                                                       
   .mN+///mM/-MN+:hM+`mMs:sMy    .MN /Ms  mN.`Mm/`hM-  sMy:+Nm.                                                                                       
   :o/    -o+-Mm+so: `mN+oo/     `o+ -o:  +o` /oo./o.   -+so/`                                                                                        
             .dy      hh`                                         

------------------ ############ App Intro ############ ------------------ */
.intro__wrapper,
.navigation__wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 6vw;
  min-height: 30px;
}

.intro__wrapper,
.intro-pane {
  opacity: 0;
  transition: opacity 1s;
  will-change: opacity;
}

.intro__wrapper {
  background-color: #eee;
  height: 100%;
  padding: calc( 3px + 1% );
  z-index: 1;
}

.intro-pane,
.intro-pane__content,
.intro-pane-colors,
.intro-pane__header,
.intro-pane__footer {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.intro-pane {
  /* z-index: 1; */
}

.intro-pane__header {
  font-size: calc( 12px + 1vw );
  justify-content: flex-end;
  text-align: center;
  padding-bottom: 3vw;
}

.intro-pane__content {
  height: 30vw;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.intro-pane__footer {}

.intro-pane-colors {
  background-color: var( --color-white );
  border: 2px solid var( --color-white );
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  width: 91vw;
}

.intro-pane-color-mask {
  overflow: hidden;
}

.intro-pane-color {
  border-radius: 50%;
  height: 12vw;
  width: 12vw;
}

/* .intro-pane-color::after,
.intro-pane-color-mask::after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 999999;
}

.intro-pane-color::after {
  background-color: currentColor;
  transform: scale( 1 );
  transition: transform 3s;
  will-change: transform;
}

.intro-pane-color-mask::after {
  border: var( --intro-color-dot-border-size ) solid var( --color-white );
  border-radius: 50%;
  box-sizing: border-box;
  height: calc( var( --intro-color-dot-size ) + ( var( --intro-color-dot-border-size ) * 1.5 ) );
  left: calc( -.75 * var( --intro-color-dot-border-size ) );
  top: calc( -.75 * var( --intro-color-dot-border-size ) );
  width: calc( var( --intro-color-dot-size ) + ( var( --intro-color-dot-border-size ) * 1.5 ) );
}

.state-test1 .intro-color--color-5::after {
  transform: scale( 16 );
  transform-origin: center;
} */

.intro__message{
}

.intro__hue {
  background-color: #acf;
}

.state-intro-hue .intro__hue {
  opacity: 1;
}

.intro__luminosity{
  display: none;
}

.intro__saturation{
  display: none;
}


/* 
    .-`                                `-::-           `-`                                                                                            
    hN:         om.          `        omdyymm:    `    +N+    `                                                                                       
    dM:`ddyydh.+NMd:+mhdy`odhhd+`    +Mh`  -+- -ydhdy- oM+ :ydhdy- sdhds/dyyds`                                                                       
    dM:`NM-`sM/`dM:`oMy.`oMs``sMo    sMo   `.``mN-`-Nm`oM+.NN-`:Nm hMo.`sNdyyo`                                                                       
    dM:`NN  oM+ hM/`oMo  +My..yM+    -Nm/.-ymo`mN/./Nm`oM+`NN:./Mm hM:  /yoomM+                                                                       
    sh-`hy  /h: /hh//h/  `+yyyy/`     -ohyhy/` -shyhs. /h: -shyho. oh-  :yyyhs.     

------------------ ############ Intro Colors ############ ------------------ */
.intro__hue .intro-color--color-1 {
  background-color: var( --color-intro-hue-v1 );
}

.intro__hue .intro-color--color-2 {
  background-color: var( --color-intro-hue-v2 );
}

.intro__hue .intro-color--color-3 {
  background-color: var( --color-intro-hue-v3 );
}

.intro__hue .intro-color--color-4 {
  background-color: var( --color-intro-hue-v4 );
}

.intro__hue .intro-color--color-5 {
  background-color: var( --color-intro-hue-v5 );
}

.intro__hue .intro-color--color-5 {
  background-color: var( --color-intro-hue-v5 );
}

.intro__hue .intro-color--color-6 {
  background-color: var( --color-intro-hue-v6 );
}

.intro__hue .intro-color--color-7 {
  background-color: var( --color-intro-hue-v7 );
}



.intro__hue .intro-color--color-1 {
  background-color: var( --color-intro-luminosity1 );
}

.intro__hue .intro-color--color-2 {
  background-color: var( --color-intro-luminosity2 );
}

.intro__hue .intro-color--color-3 {
  background-color: var( --color-intro-luminosity3 );
}

.intro__hue .intro-color--color-4 {
  background-color: var( --color-intro-luminosity4 );
}

.intro__hue .intro-color--color-5 {
  background-color: var( --color-intro-luminosity5 );
}


.intro__hue .intro-color--color-1 {
  background-color: var( --color-intro-saturation1 );
}

.intro__hue .intro-color--color-2 {
  background-color: var( --color-intro-saturation2 );
}

.intro__hue .intro-color--color-3 {
  background-color: var( --color-intro-saturation3 );
}

.intro__hue .intro-color--color-4 {
  background-color: var( --color-intro-saturation4 );
}

.intro__hue .intro-color--color-5 {
  background-color: var( --color-intro-saturation5 );
}

/* 
    +yo`  yy`               .y+                 .+` :y:                      :syyys:                  ./-              `sy                            
    yMMy` NN` -/++:`./:  ./-.y+ `-++-/:  -/+/:`-mM+.:y: `-/+/-` -/-/+/.     oMh:-/dd. `:++/.  :/-/+:`.hMs-`/://``:++/. `mM `-/+/:`                    
    yMyNd-NN`.hy+hMo`dN-`dN:-Mh sMy/yMm`-hy+dM/:NMs-oM+ yNy+yNy`yMd/sMh     NM-      .dNo+dN/ mMy/hMo-dMy::MNso-mNo+dN/`mM /Mdoyh-                    
    yM-:mmNN`-yhshMy -mdsM+ -Mh mN- .Nm`:hysdMo dM. oM+`Mm` `NM.yM/ .Md     dM/  `+o.+My  /Mh mM. /Ms sM/ :My  /My  :Mh`mM -ydddd+                    
    yN- -dMN`+Nh+hMy  :NMy  -My +NdshMm`sNy+dMo yMy:oM+ sNhohNo sM/ .Md     -hmyshNh`.hmysdm: dN. /Ns oNh+:My  .dmysdm:`mN /dy+hNs                    
    -:`  `::  -::.:-   -:`  `:- /yy++Nd `-::.:- `::..:.  .:::.  .:`  :-       .:::.    -::-`  -:  `:. `::-`:.    -::-`  -:  .:::-                     
                                .osyso.         

------------------ ############ Navigation Controls ############ ------------------ */
.navigation__wrapper {
  background-color: var( --color-background-dark-rgba );
  color: #fff;
  display: none;
  font-family: 'Raleway Thin', sans-serif;
  justify-content: space-between;
  z-index: 3;
}

.app-title {
  color: var( --color-title );
  font-family: 'Raleway Thin', sans-serif;
  font-size: calc( 6px + 3.5vw);
  margin-left: 5vw;
}

.navigation__controls--title {
  color: var( --blue-nav );
  font-family: 'Raleway Thin', sans-serif;
  font-size: calc( 6px + 2.2vw);
  line-height: 6vw;
  margin-right: 1vw;
  vertical-align: middle;
}

.navigation__controls {
}

.navigation__favorites {
  display: flex;
}

.state-favorites .navigation__favorites {
  display: none;
}

.state-favorites .navigation__compare {
  display: flex;
}

.navigation__controls-colors {
  display: flex;
}

.navigation__controls-color {
  border-radius: 50%;
  display: inline-block;
  height: 2vw;
  margin-right: 3%;
  width: 2vw;
}


/*state-lower-room- state-zoom-room- state-detail- state-transition state-color-preference */

/* 
      -yy/                        :yyyys-  -+          -+                                                                                             
     `dNNN-  `/:://.  :/-/+-     .NN/-+dy`/MN/``:+//. +Nm/``:++:`                                                                                     
     yMo/Mm` -MNs+dN/`mMy+yMs    `omNdhs: +MNo`odooNN`oMNo.dNooNd`                                                                                    
    +MNhyNMh`-Md  /My`mN. .Nm`   -+/.-+mM:`Mm``ohysNM`.Nd :MNssdd-                                                                                    
   -Nm-...hMo-MMyomN:`mMdodNo    .dNyshNd. mNs:mN+sNM..mNs-hNsody`                                                                                    
   .:.    `::-Md-::` `mN-::.       .:::-   .::``::--:` .::` -::-                                                                                      
             .o+      oo` 

------------------ ############ APP STATE - LOWER ROOM ############ ------------------ */
.state-lower-room .room__wrapper:not( .room__wrapper--lower ) {
  opacity: 0;
}

/*.state-lower-room .room__wrapper--lower {
  opacity: 1;
}*/

/* ------------------ ############ APP STATE - INTRO ############ ------------------ */
.state-intro .intro__wrapper {
  opacity: 1;
  z-index: 5;
}

.intro-pane.active {
  opacity: 1;
  z-index: 10;
}

.intro-pane.active.changing-from {
  opacity: 1;
  z-index: 5;
}
/* .state-intro .intro__wrapper,
.state-intro.state-intro-message .intro__message,
.state-intro.state-intro-message .intro__hue,
.state-intro.state-intro-hue .intro__hue,
.state-intro.state-intro-hue .intro__luminosity,
.state-intro.state-intro-luminosity .intro__luminosity,
.state-intro.state-intro-saturation .intro__saturation {
  opacity: 1;
  z-index: 5;
}

.state-intro .intro__wrapper,
.state-intro.state-intro-message .intro__message,

.state-intro.state-intro-hue .intro__hue,
.state-intro.state-intro-hue .intro__luminosity,
.state-intro.state-intro-luminosity .intro__luminosity,
.state-intro.state-intro-saturation .intro__saturation {
  opacity: 1;
  z-index: 10
} */

/* .intro__message .button-link {
  display: block;
} */
/* ------------------ ############ APP STATE - COLOR PREFERENCE ############ ------------------ */
/* .state-color-preference {
  opacity: 1;
} */



/* ------------------ ############ APP STATE - ROOM DETAIL ############ ------------------ */
.state-detail .solid-overlay {
  opacity: 1;
  z-index: 9;
}

/* .state-detail .room__image--furniture {
  opacity: 0;
} */

.state-detail .color-info {
  /* font-size: 17vw;
  letter-spacing: 0; */
  opacity: 1;
  z-index: 11;
}

/* .test-mask {
  z-index: 99;
  mix-blend-mode: color-burn;
} */

.state-detail .room-image-natural {
  opacity: 0;
}


.state-detail .room-image-tinted {
  /* filter: grayscale(100) brightness(0.85) contrast(1.75);
  mix-blend-mode: multiply; */

  /* -webkit-mask-image: url( './images/room-chair-mask-clean.png' );
  -webkit-mask-size: cover;
  -webkit-mask-position: 50% 50%;
  mask-size: 200% 200%; */
  /* z-index: 10; */
}

/* .state-transition .solid-overlay--top {
  transition: opacity 0.5s;
  transition-delay: 0.5s;
}

.state-transition .color-name {
  transition-delay: 0s;
} */


/*
   ```    `` ``                                                    ``         ``  ``                                                                  
   /mh`  -md.hs                                         /h`       /mmo        om:`hy                 :y-                             :y-              
   `hMo `hM/`hs `/ysy/`/y- +y/ :y:/yosys-  /syys- `yoyyoNMy-     -NmdN/   /yysdM:`hy -y+  os``ossyo.:mMh/-yooys/oyy: `+ysy/` os+syo.:mMh:.ossy+`      
    .mN-+My .Md sMy/yMo-Nh-NNm.mN.sMy-:mN.+My-:dN/.MN::-mM:`    `dM+:MN- +Mh--mM:`Nm :My  dN./Mmsss-`hM+./Md-/MN::Nm`sMy/yMo`mM+.sMo.hM+.oMdoss.      
     /MmNm` .Md`hMyosh+ oMmN/NdM/ sMo``dM-sMo``yM+.Mh   mM.     yMdyydMd`oMs``hM:`Nm :Mh`.mN.-syydNy sM/`/Ms .Md `Nm`hMyosh+`mM` +Mo yM/`-syymNo      
      smm:  `mh -hdshh- `hmo ymy` sMdyhdo .ydyhdo`.my   smh:   /mh````smo.ymyydm:.Nm .hmyydm.:hhshd+ +md+:mo .my `dh`-hdshh-`hm` /m+ +md+/dhshd/      
      `.`    .`   ...    `.` `.`  sM/..`    `..`   .`    ..`   `.`    `.`  ..``.:yMd   ..``.   ...`   ..``.`  .`  .`   ...   `.  `.`  ..` `...        
                                  .:`                                           .//.                                                            

------------------ ############ VIEWPORT ORIENTATION ADJUSTMENTS ############ ------------------ */
@media screen and ( orientation: landscape ) { /* landscape viewport, vertical rooms */
    .room__wrapper {
        height: 100%;
        width: calc( 50% - 1px );
    }

    .room-b {
        left: calc( 50% + 1px );
        top: 0;
    }

    .color-info {
      line-height: 10vw;
    }

    .color-number {
      font-size: 0.5em;
    }

    .color-name {
      font-size: 0.5em;
    }
}

@media screen and ( max-width: 800px ) {
  .navigation__controls-color {
    height: 3vw;
    width: 3vw;
  }
}

@media screen and ( max-width: 800px ) and ( orientation: landscape ){
  .color-number {
    font-size: 8vw;
  }
}



/*
    :/.                                                                                                                                               
    yM/       ...    `..```   `..`                                                                                                                    
    yM/     /mmydNo /mmshNN..hNhhNh.                                                                                                                  
    yM/    `mN. `dM-dM- `NN.sMo  +Ms                                                                                                                  
    yMy////`yMs:oNd`sMh/sMN./Nd//dN/                                                                                                                  
    /oooooo` :ooo/` -sho/Nm` .+oo+.                                                                                                                   
                    -yhhhh/                                                                                                                           
                      ```     
------------------ ############ Logo Mark ############ ------------------ */
.logo-wrapper {
  display: inline-block;
  height: 4vw;
  position: relative;
  width: 4vw;
}

.logo-circle,
.logo-circle::before,
.logo-circle::after {
    border-radius: 50%;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.logo-circle::before,
.logo-circle::after {
    content: '';
    display: block;
}

.logo-circle::after,
.logo-circle::before {
    background-color: var( --gray-dark );
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.logo-circle::after {
    opacity: 0;
    transition: opacity 0.5s, transform 1s;
}

.logo-circle::before {
    background-color: transparent;
    box-shadow: 0.2vw 0.2vw 0.2vw  rgba( 0, 0, 0, 0.75 );  /*rgb( 40, 40, 40 )*/
    opacity: 0;
    transition: opacity 2s, transform 2s;
    transition-delay: var( --shadow-transition-delay ), var( --shadow-transition-delay );
    transform: scale( 0.75 );
}

.state-app-primed .logo-circle::before {
    opacity: 1;
    transform: scale( 0.99 );
}

.state-app-primed .logo-circle::after {
    opacity: 1;
}

.state-app-primed {}

.state-app-primed {}

.logo-circle-2 {
    left: 4%;
    height: 76%;
    top: 4%;
    width: 76%;
}

.logo-circle-2::after {
    background-color: var( --blue-gray );
}

.logo-circle-2::before {
    transition-delay: calc( 2 * var( --shadow-transition-delay ) ), calc( 2 * var( --shadow-transition-delay ) );
}

.logo-circle-3 {
    color: var( --blue-bright );
    background-color: currentColor;
    left: 7%;
    height: 52%;
    top: 7%;
    width: 52%;
}

.logo-circle-3::after {
    background-color: var( --blue-bright );
}

.logo-circle-2::before {
    transition-delay: calc( 3 * var( --shadow-transition-delay ) ), calc( 3 * var( --shadow-transition-delay ) );
}


/* ------------------ ############ UTILITY CLASSES ############ ------------------ */
.background-white {
  background-color: #fff;
  height: 100%;
  width: 100%;
}




/* ------------------ ############ wwwwwww ############ ------------------ */




/* ------------------ ############ wwwwwww ############ ------------------ */
/* ------------------ ############ wwwwwww ############ ------------------ */
/* ------------------ ############ wwwwwww ############ ------------------ */
/* ------------------ ############ wwwwwww ############ ------------------ */
/* ------------------ ############ jjjjjjjj ############ ------------------ */
/* --------- pppppppp ----------- */
/* --------- pppppppp ----------- */



/*
------------------ ############ ANIMATION EXAMPLE ############ ------------------
@keyframes pan-scene {
  0 {
      transform: translate3d(0px, 0px, 0px);
  }
  50% {
      transform: translate3d(-10vw, -100vh, 0px);
  }
  100% {
      transform: translate3d(0px, 0px, 0px);
  }
}

ribbon1
0% 28%, 27.1% 2%, 49.7% 38.75%, 74.3% 10%, 100% 16%, 100% 30%, 65.7% 78%, 55% 60.4%, 0% 100%
 % %, % %, % %, % %, % %, % %, % %, % %, % %, % %, % %, % %, % %, % %, % %, % %, % %,
  % %, % %, % %, % %, % %, % %, % %, % %, % %, % %, % %, % %, % %, % %, % %, % %, % %,

------------------ ############ SETTING CUSTOM PROPERTY VALUES WITHIN AN ANIMATION LOOP ############ ------------------
-webkit-clip-path: ;
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);


-webkit-clip-path: polygon(44% 26%, 58% 38%, 58% 38%, 44% 81%, 44% 81%, 25% 49%);
clip-path: polygon(44% 26%, 58% 38%, 58% 38%, 44% 81%, 44% 81%, 25% 49%);

a {
  animation: ribbon 1s infinite; 
  --bounce-distance: 2.5px;
}

@keyframes ribbon {
  from { --ribbonPath: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%) }
  to { transform: translateY(0px); … }
}


------------------ ############ OLD STUFF ############ ------------------


/* ------------------ ############ PRIMING ANIMATED ELEMENTS ############ ------------------ 
.room__svg--zoom {
  transition: transform 1s;
  will-change: transform;
}

.state-app-primed .room__svg--zoom {
}

.state-zoom-room .room__svg--zoom {
  transform: var(--scale-zoom-factor-s);
}

TO MAKE A MASK FROM MULTIPLE IMAGES
linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0))
.el {
    mask-image: url(mask-image.png), linear-gradient(black, transparent);
    mask-position: center, top left;
    mask-repeat: no-repeat, no-repeat;
}

https://aclaes.com/responsive-background-images-with-srcset-and-sizes/


@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) and (min-aspect-ratio: 1 / 1) {
}


.solid-overlay-2 {
    background-color: var( --room-color-right );
}

.solid-overlay-3 {
    background-color: var( --room-color-right-bottom );
}

.solid-overlay-4 {
    background-color: var( --room-color-left-bottom );
}


  text shadow for title
    0 6px 1px rgba(0,0,0,.5),
    0 0 5px rgba(0,0,0,.5),
    0 1px 3px rgba(0,0,0,.7),
    0.06vw 0.06vw 0.12vw rgba(0,0,0,.6),
    -0.06vw 0.06vw 0.12vw rgba(0,0,0,.6),
    0.06vw -0.06vw 0.12vw rgba(0,0,0,.6),
    -0.06vw -0.06vw 0.12vw rgba(0,0,0,.6);

.scene-grid__scene:nth-child(n+5) {
  display: none; }

@media screen and (orientation: portrait) {
    .room__wrapper svg {
        border: 2px solid #ccccff;
        height: 140vh;
        width: calc( 140vh * 1.43582);
    }

    @media screen and (max-aspect-ratio: 3/4) {
        .room__wrapper svg {
            border: 2px solid #9999cc;
            height: 125vh;
            width: calc( 125vh * 1.43582);
        }
    }

    @media screen and (max-aspect-ratio: 2/3) {
        .room__wrapper svg {
            border: 2px solid #666699;
            height: 110vh;
            width: calc( 110vh * 1.43582);
        }
    }

    @media screen and (max-aspect-ratio: 1/2) {
        .room__wrapper svg {
            border: 2px solid #333366;
        }
    }
}



  text-shadow: 0.06vw 0.06vw 0.22vw rgba(0,0,0,.6), -0.06vw 0.06vw 0.22vw rgba(0,0,0,.6), 0.06vw -0.06vw 0.22vw rgba(0,0,0,.6), -0.06vw -0.06vw 0.22vw rgba(0,0,0,.6);
  /* text-shadow: 0.06vw 0.06vw 0.12vw rgba(0,0,0,.2),
    -0.06vw 0.06vw 0.12vw rgba(0,0,0,.2),
    0.06vw -0.06vw 0.12vw rgba(0,0,0,.2),
    -0.06vw -0.06vw 0.12vw rgba(0,0,0,.2); */


.text-3d- {
    color: #999;
    text-shadow: 0 1px 0 #666,
       0 2px 0 #646464,
       0 3px 0 #555,
       0 4px 0 #515151,
       0 5px 0 #444,
       0 6px 1px rgba(0,0,0,.5),
       0 0 5px rgba(0,0,0,.5),
       0 1px 3px rgba(0,0,0,.7),
       0 3px 5px rgba(0,0,0,.6),
       0 5px 10px rgba(0,0,0,.65),
       0 10px 10px rgba(0,0,0,.6),
       0 20px 20px rgba(0,0,0,.55);
}

.text-3d--light- {
    color: #fff;
    text-shadow: 0 1px 0 #ccc,
       0 2px 0 #c9c9c9,
       0 3px 0 #bbb,
       0 4px 0 #b9b9b9,
       0 5px 0 #aaa,
       0 6px 1px rgba(0,0,0,.1),
       0 0 5px rgba(0,0,0,.1),
       0 1px 3px rgba(0,0,0,.3),
       0 3px 5px rgba(0,0,0,.2),
       0 5px 10px rgba(0,0,0,.25),
       0 10px 10px rgba(0,0,0,.2),
       0 20px 20px rgba(0,0,0,.15);
}
*/